obj
.temp/
lib
err
bin/test*
bin
myprograms
common
transfer
test.krn
_site
_includes
doc
*.zip
external/pugixml/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.krn
*.svg
*.mei
*.xml
*.musicxml
.vscode
*.txt
.DS_Store
z
zz
zzz
x
xx
xxx
Ort
