obj
lib
err
_site
bin/test-*
myprograms
transfer
test.krn
examples
tests
hum2notelist
hum2notelist2
common
Gemfile.lock
cli

bin/accent-features
bin/activevoices
bin/addic
bin/addkey
bin/addlabels
bin/addtempo
bin/alignXywh
bin/autoaccid
bin/autobeam
bin/autostem
bin/binroll
bin/chantize
bin/chint
bin/chooser
bin/chord
bin/cint
bin/cmr
bin/colorgroups
bin/colormix
bin/colortriads
bin/composite
bin/compositeold
bin/corscape
bin/degx
bin/dissonant
bin/double
bin/durations
bin/esac2hum
bin/extractx
bin/extractxx
bin/fb
bin/fixps
bin/flipper
bin/gasparize
bin/grepx
bin/half
bin/hands
bin/homorhythm
bin/homorhythm2
bin/hproof
bin/hum2epr
bin/humbreak
bin/humdiff
bin/humdiff-old
bin/humfilter
bin/humgrep
bin/humsheet
bin/humsort
bin/humtr
bin/humxml
bin/imagedemo
bin/imitation
bin/insertCodeLines
bin/instinfo
bin/kern2mens
bin/kernify
bin/kerninst
bin/kernview
bin/ligfind
bin/markov
bin/mei2hum
bin/melisma
bin/mens2kern
bin/mergetime
bin/meter
bin/metlev
bin/midiphrases
bin/modori
bin/msearch
bin/muse2mid
bin/muse2xml
bin/musedata2hum
bin/musetime
bin/musicxml2hum
bin/mvsic
bin/myank
bin/naka
bin/nproof
bin/npvi
bin/npvi-ds
bin/ordergps
bin/partinst
bin/pccount
bin/periodicity
bin/phrase
bin/pline
bin/pnum
bin/prangex
bin/program1
bin/program2
bin/program3
bin/recip
bin/restfill
bin/rhythms
bin/ridxx
bin/sab2gs
bin/satb2gsx
bin/scapeinfo
bin/scordatura
bin/scorext
bin/semitones
bin/shed
bin/sic
bin/simat
bin/slurcheck
bin/spineclose
bin/spinetrace2
bin/strophe
bin/synco
bin/tabber
bin/tassoize
bin/testgrid
bin/textdur
bin/thruxx
bin/tie
bin/timebasex
bin/transpose
bin/tremolo
bin/trillspell
bin/tspos
bin/vcross
bin/ztest

