
<style>

table.classlist, 
table.classlist tr,
table.classlist td {
   padding: 0;
   border: 0;
}

table.classlist tr td:nth-child(1) {
   text-align: right;
   font-weight: 400;
   width: 190px;
}

table.classlist tr td:nth-child(1)::after {
   content: ":";
}

table.classlist tr td:nth-child(2) {
   text-align: left;
   padding-left: 10px;
}

</style>

<table style="width:auto;" class="classlist" cellpadding="0" cellspacing="0">

<tr valign=top>
   <td> <a href="/doc/class/HumdrumFile">HumdrumFile</a> </td> <td> 
Main interface for Humdrum file parsing classes.
   </td>
</tr>

<tr valign=top>
   <td> <a href="/doc/class/HumdrumFileContent">HumdrumFileContent</a> </td> <td> 
Intermediate class for HumdrumFile content analysis.
   </td>
</tr>

<tr valign=top>
   <td> <a href="/doc/class/HumdrumFileStructure">HumdrumFileStructure</a> </td> <td> 
Intermediate class for HumdrumFile structural analysis.
	durations.
   </td>
</tr>

<tr valign=top>
   <td> <a href="/doc/class/HumdrumFileBase">HumdrumFileBase</a> </td> <td> 
Low-level Humdrum file parsing class for read/write and spine analysis.
   </td>
</tr>

<tr valign=top>
   <td> <a href="/doc/class/HumdrumLine">HumdrumLine</a> </td> <td> 
Manages the content of a Humdrum file line.
   </td>
</tr>

<tr valign=top>
   <td> <a href="/doc/class/HumdrumToken">HumdrumToken</a> </td> <td> 
Manages data tokens for a HumdrumLine.
   </td>
</tr>

<tr valign=top>
   <td> <a href="/doc/class/HumNum">HumNum</a> </td> <td> 
Rational number class for processing durations as fractions.
   </td>
</tr>

<tr valign=top>
   <td> <a href="/doc/class/HumAddress">HumAddress</a> </td> <td> 
Location information for HumdrumTokens.
   </td>
</tr>

<tr valign=top>
   <td> <a href="/doc/class/HumHash">HumHash</a> </td> <td> 
HumdrumToken and HumdrumLine parameter system.
   </td>
</tr>

<tr valign=top>
   <td> <a href="/doc/class/Convert">Convert</a> </td> <td> 
Utility function for converting data between various representations.
   </td>
</tr>

</table>
