
<style>
ul.function-listing {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	margin-left: 30px;
}
.h2subtitle {
   font-weight: 200;
   font-size: 80%;
}
</style>


<script>
function addClassListContent(classname, listing) {
   var id = classname + "-list";
   var list = document.getElementById(id);
   if (!list) {
      return;
   }
   list.textContent = '';
   var li;
   var a;
   for (i=0; i<listing.length; i++) {
      li = document.createElement("LI");
      a = document.createElement("A");
      li.appendChild(a);
      list.appendChild(li);
      a.textContent = listing[i];
      a.href = classname + "#" + listing[i];
   }
}
</script>

<script>
window.addEventListener('DOMContentLoaded', function(event) {
   list = [   // START_DOCLIST(HumdrumToken)
	'HumdrumToken',
	'equalChar',
	'getBarlineDuration',
	'getDataType',
	'getDuration',
	'getDurationFromStart',
	'getFieldIndex',
	'getLineIndex',
	'getLineNumber',
	'getNextNonNullDataToken',
	'getNextNonNullDataTokenCount',
	'getNextToken',
	'getNextTokenCount',
	'getNextTokens',
	'getOwner',
	'getPreviousNonNullDataToken',
	'getPreviousNonNullDataTokenCount',
	'getPreviousToken',
	'getPreviousTokenCount',
	'getPreviousTokens',
	'getSpineInfo',
	'getSubtoken',
	'getSubtokenCount',
	'getSubtrack',
	'getTrack',
	'getTrackString',
	'getXmlId',
	'getXmlIdPrefix',
	'hasRhythm',
	'isAddInterpretation',
	'isBarline',
	'isCommentLocal',
	'isData',
	'isDataType',
	'isExchangeInterpretation',
	'isExclusiveInterpretation',
	'isManipulator',
	'isMergeInterpretation',
	'isNonNullData',
	'isNote',
	'isNull',
	'isNullData',
	'isRest',
	'isSplitInterpretation',
	'isTerminateInterpretation',
	'printCSV',
	'printXml',
	'setParameters'
   ];   // END_DOCLIST(HumdrumToken)




























   addClassListContent("HumdrumToken", list);
});
</script>
<h2> <a href="HumdrumToken">HumdrumToken</a>:: <span class="h2subtitle">
Manages data tokens for a HumdrumLine.
</span></h2>
<ul id="HumdrumToken-list" class="function-listing"></ul>



<script>
window.addEventListener("DOMContentLoaded", function(event) {
   list = [   // START_DOCLIST(HumdrumLine)
	'HumdrumLine',
	'createLineFromTokens',
	'equalChar',
	'getBarlineDuration',
	'getBeat',
	'getChar',
	'getDuration',
	'getDurationFromBarline',
	'getDurationFromStart',
	'getDurationToBarline',
	'getDurationToEnd',
	'getLineIndex',
	'getLineNumber',
	'getReferenceKey',
	'getReferenceValue',
	'getTokenCount',
	'getTokenString',
	'getTokens',
	'getTrackStart',
	'getXmlId',
	'getXmlIdPrefix',
	'hasSpines',
	'isAllNull',
	'isAllRhythmicNull',
	'isBarline',
	'isComment',
	'isCommentGlobal',
	'isCommentLocal',
	'isData',
	'isEmpty',
	'isExclusive',
	'isInterp',
	'isKernBoundaryEnd',
	'isKernBoundaryStart',
	'isManipulator',
	'isReference',
	'isTerminator',
	'printCSV',
	'printDataTypeInfo',
	'printDurationInfo',
	'printSpineInfo',
	'printTrackInfo',
	'printXml',
	'setLineFromCSV',
	'token'
   ];   // END_DOCLIST(HumdrumLine)




























   addClassListContent("HumdrumLine", list);
});
</script>
<h2> <a href="HumdrumLine">HumdrumLine</a>:: <span class="h2subtitle">
Manages the content of a Humdrum file line.
</span></h2>
<ul id="HumdrumLine-list" class="function-listing"></ul>


<script>
window.addEventListener("DOMContentLoaded", function(event) {
   list = [   // START_DOCLIST(HumdrumFile)
	'HumdrumFile',
	'printXml'
   ];   // END_DOCLIST(HumdrumFile)




























   addClassListContent("HumdrumFile", list);
});
</script>
<h2> <a href="HumdrumFile">HumdrumFile</a>:: <span class="h2subtitle">
Main interface for Humdrum file parsing classes.
</span></h2>
<ul id="HumdrumFile-list" class="function-listing"> </ul>

<script>
window.addEventListener("DOMContentLoaded", function(event) {
   list = [   // START_DOCLIST(HumdrumFileContent)
	'@INDEXED:	yes'
   ];   // END_DOCLIST(HumdrumFileContent)




























   addClassListContent("HumdrumFileContent", list);
});
</script>
<h2> <a href="HumdrumFileContent">HumdrumFileContent</a>:: <span class="h2subtitle">
Intermediate class for HumdrumFile content analysis.
</span></h2>
<ul id="HumdrumFileContent-list" class="function-listing"> </ul>

<script>
window.addEventListener("DOMContentLoaded", function(event) {
   list = [   // START_DOCLIST(HumdrumFileStructure)
	'HumdrumFileStructure',
	'getBarline',
	'getBarlineCount',
	'getBarlineDuration',
	'getBarlineDurationFromStart',
	'getBarlineDurationToEnd',
	'getScoreDuration',
	'getStrandStart',
	'printDurationInfo',
	'read',
	'readCsv',
	'readNoRhythm',
	'readNoRhythmCsv',
	'readString',
	'readStringCsv',
	'readStringNoRhythm',
	'readStringNoRhythmCsv',
	'tpq'
   ];   // END_DOCLIST(HumdrumFileStructure)




























   addClassListContent("HumdrumFileStructure", list);
});
</script>
<h2> <a href="HumdrumFileStructure">HumdrumFileStructure</a>:: <span class="h2subtitle">
Intermediate class for HumdrumFile structural analysis.
</span></h2>
<ul id="HumdrumFileStructure-list" class="function-listing"> </ul>


<script>
window.addEventListener("DOMContentLoaded", function(event) {
   list = [   // START_DOCLIST(HumdrumFileBase)
	'HumdrumFileBase',
	'append',
	'createLinesFromTokens',
	'getLineCount',
	'getMaxTrack',
	'getParseError',
	'getPrimaryTrackSeq',
	'getTrackEnd',
	'getTrackEndCount',
	'getTrackSeq',
	'getTrackStart',
	'getXmlIdPrefix',
	'isValid',
	'operator[]',
	'printCSV',
	'printDataTypeInfo',
	'printSpineInfo',
	'printTrackInfo',
	'read',
	'readCSV',
	'readString',
	'readStringCSV',
	'setNoisyParse',
	'setNoisyParsing',
	'setParseError',
	'setQuietParse',
	'setQuietParsing',
	'setXmlIdPrefix',
	'token'
   ];   // END_DOCLIST(HumdrumFileBase)




























   addClassListContent("HumdrumFileBase", list);
});
</script>
<h2> <a href="HumdrumFileBase">HumdrumFileBase</a>:: <span class="h2subtitle"> 
Low-level Humdrum file parsing class for read/write and spine analysis.
</span> </h2>
<ul id="HumdrumFileBase-list" class="function-listing"></ul>





<script>
window.addEventListener("DOMContentLoaded", function(event) {
   list = [   // START_DOCLIST(HumNum)
	'HumNum',
	'getAbs',
	'getDenominator',
	'getFloat',
	'getInteger',
	'getNumerator',
	'getRemainder',
	'isFinite',
	'isInfinite',
	'isInteger',
	'isNaN',
	'isNegative',
	'isNonNegative',
	'isNonPositive',
	'isNonZero',
	'isPositive',
	'isZero',
	'makeAbs',
	'operator!=',
	'operator-',
	'operator-=',
	'operator=',
	'operator==',
	'operator>',
	'operator>=',
	'operator<',
	'operator<=',
	'operator+',
	'operator+=',
	'operator/',
	'operator/=',
	'operator*',
	'operator*=',
	'printFraction',
	'printList',
	'printMixedFraction',
	'setValue'
   ];   // END_DOCLIST(HumNum)




























   addClassListContent("HumNum", list);
});
</script>
<h2> <a href="HumNum">HumNum</a>:: <span class="h2subtitle">
Rational number class for processing durations as fractions.
</span></h2>
<ul id="HumNum-list" class="function-listing"> </ul>


<script>
window.addEventListener("DOMContentLoaded", function(event) {
   list = [   // START_DOCLIST(HumAddress)
	'HumAddress',
	'getDataType',
	'getFieldIndex',
	'getLine',
	'getLineIndex',
	'getLineNumber',
	'getSpineInfo',
	'getSubtrack',
	'getSubtrackCount',
	'getTrack',
	'getTrackString',
	'hasOwner'
   ];   // END_DOCLIST(HumAddress)




























   addClassListContent("HumAddress", list);
});
</script>
<h2> <a href="HumAddress">HumAddress</a>:: <span class="h2subtitle">
Location information for HumdrumTokens.
</span></h2>
<ul id="HumAddress-list" class="function-listing"> </ul>



<script>
window.addEventListener("DOMContentLoaded", function(event) {
   list = [   // START_DOCLIST(HumHash)
	'HumHash',
	'deleteValue',
	'getKeys',
	'getOrigin',
	'getParameterCount',
	'getValue',
	'getValueBool',
	'getValueFloat',
	'getValueFraction',
	'getValueInt',
	'hasParameters',
	'isDefined',
	'printXml',
	'setOrigin',
	'setPrefix',
	'setValue'
   ];   // END_DOCLIST(HumHash)




























   addClassListContent("HumHash", list);
});
</script>
<h2> <a href="HumHash">HumHash</a>:: <span class="h2subtitle">
HumdrumToken and HumdrumLine parameter system.
</span></h2>
<ul id="HumHash-list" class="function-listing"> </ul>



<script>
window.addEventListener("DOMContentLoaded", function(event) {
   list = [   // START_DOCLIST(Convert)
	'encodeXml',
	'getGcd',
	'getHumNumAttributes',
	'getKernPitchAttributes',
	'getLcm',
	'isKernNote',
	'isKernRest',
	'kernToAccidentalCount',
	'kernToBase12',
	'kernToBase12PC',
	'kernToBase40',
	'kernToBase40PC',
	'kernToBase7',
	'kernToDiatonicLC',
	'kernToDiatonicPC',
	'kernToDiatonicUC',
	'kernToMidiNoteNumber',
	'kernToOctaveNumber',
	'kernToScientificPitch',
	'pitchToWbh',
	'recipToDuration',
	'repeatString',
	'replaceOccurrences',
	'splitString',
	'trimWhiteSpace'
   ];   // END_DOCLIST(Convert)




























   addClassListContent("Convert", list);
});
</script>
<h2> <a href="Convert">Convert</a>:: <span class="h2subtitle">
Utility function for converting data between various representations.
</span></h2>
<ul id="Convert-list" class="function-listing"> </ul>


