<script>
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sun Sep 13 12:59:11 PDT 2015
// Last Modified: Sun Sep 13 12:59:14 PDT 2015
// Filename:      _includes/tutorial/tutorial.html
// Syntax:        JavaScript 1.8.5/ECMAScript 5.1
// vim:           ts=3 hlsearch
//
// Description:   Manage tutorial documentation page.
//

document.addEventListener('keydown', function(event) {
	documentationKeyCommands(event, "tutorial");
});

document.addEventListener('DOMContentLoaded', function(event) {
console.log("CHECKING ANCHORS", document.location.href, document.location.hash);
	checkAnchor('tutorial');
});


</script>



