	{% if page.url == "/" %}
		<section class="page-header">
		<h1 class="project-name">humlib</h1>
		<h2 class="project-tagline">Minimal generalized Humdrum data parsing library in C++</h2>
		<a href="https://github.com/craigsapp/humlib" class="btn">View on GitHub</a>
		<a href="https://github.com/craigsapp/humlib/zipball/master" class="btn">Download .zip</a>
		<a href="https://github.com/craigsapp/humlib/tarball/master" class="btn">Download .tar.gz</a>
		<div class="top-bread">
			<a style="color:white" href="/doc/class">classes</a>
			| 
			<a style="color:white" href="/doc/snippet">snippets</a>
			| 
			<a style="color:white" href="/doc/example">examples</a>
			| 
			<a style="color:white" href="/doc/topic">topics</a>
			|
			<a style="color:white" href="/doc/tutorial">tutorials</a>
			|
			<a style="color:white" href="/doc/ref">reference</a>
		</div>
	{% else %}
		<section style="height:100px; padding-left:15px;" class="page-header">
		<table><tr><td>
		<a href="/"><h1 class="project-name2">humlib</h1></a>
		</td><td>
		<h2 class="project-tagline2" style="padding-top:0; margin-top:0px;">
		{% if page.title %}
			{{ page.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
		</h2>
		</td></tr></table>
	{% endif %}
</section>

{% include layout/breadcrumbs.html %}



