<head>
	<!-- vim: set ts=3 : -->
	<meta charset='UTF-8'>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="description" content="{{ site.description }}">
	<link rel="canonical" 
		href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<!-- meta http-equiv="X-UA-Compatible" content="IE=edge" -->
	<link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles/stylesheet.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/styles/pygment_trac.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print">
	<script src="/scripts/handlebars-v2.0.0.js"></script>
	<script src="/scripts/main.js"></script>
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<title>
		{% if page.title %}
			{{ page.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</title>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ "/styles/main.css" | prepend: site.baseurl }}">

	<!-- JavaScript -->
	<script src="/scripts/external-links.js"></script>
	{% if page.javascript %}
		{% for file in page.javascript %}
			{% include {{file}} %}
		{% endfor %}
	{% endif %}

	{% include layout/google-analytics.html %}
	{% include layout/span-links.html %}

</head>
