
<style>
textarea {
	font-family: Consolas, "Liberation Mono", Meno, Courier, monospace;
	font-size:   1rem;
	color: #567482;
	background-color:  #f3f6fa;
	border-radius: 4px;
	border: solid 1px #dce6f0;
	tab-size: 14;
	white-space: pre;
}
</style>


Layout parameters can be embedded in \*\*kern data that give
graphical printing information which is not otherwise specified
in the data.  Layout codes have the form:

```
![!]LO:category:key=value
```

Local comments, starting with a single `!` indicate a local layout
parameter which alters the next non-null token in a spine.  Global  
comments, starting with `!!`, indicate that the parameter effect
all parts.

<h2> Slur orientation </h2>

Slurs can be forced above notes by placing the local layout code
`!LO:S:a` before the token staring a slur (which is an open parenthesis
in \*\*kern data).  Use `!LO:S:b` to force the slur below the group
of notes.

<center>
<table>
<tr><td>
<textarea rows="12">
**kern
*clefG2
*M4/4
*k[]
=1-
(4c/
4d/
4e/
4f/)
=2
!LO:S:a
(4c/
4d/
4e/
4f/)
=3
(4cc\
4dd\
4ee\
4ff\)
=4
!LO:S:b
(4cc\
4dd\
4ee\
4ff\)
\==
*-
</textarea>
</td><td>
<img src=/images/layout/slur.png>
</td></tr></table>
</center>


<h2> Generic text directions </h2>

Any arbitrary text can be placed in the music by using parameters
in the `!LO:TX:` namespace:

<p>
<table>
<tr><td>

<!--

**kern	**kern
*clefG2	*clefG2
*k[f#]	*k[f#]
*M4/4	*M4/4
=1-	=1-
4c/	2aa\
4d/	.
4e/	2gg\
4f/	.
!LO:TX:i:rj:t=fine	!
=2||	=2||
!	!LO:TX:bi:z=5:t=ritardando
4g/	2ee\
4a/	.
4b\	2dd\
4cc\	.
=3	=3
4b\	2dd#\
4a/	.
!LO:TX:b:X=-15:Z=15:t=ad lib.	!
!	!LO:TX:Z=15:cj:t=reflectively
4g/	2ee\
4f/	.
=4	=4
4e/	2ff\
4d/	.
2c/;	2gg\;
!LO:TX:i:rj:X=20:t=D.C. al fine	!
=:|!	=:|!
*-	*-

-->


<style>
div.humDiv table { 
	border: 0; background-color: #f3f6fa; 
	padding: 2px;
	border-radius: 4px;
	border: solid 1px #dce6f0;
}
div.humDiv table tr { border: 0}
div.humDiv table td {
	padding: 0;
	font-family: Consolas, "Liberation Mono", Meno, Courier, monospace;
	font-size:   0.8rem;
	line-height: 1;
	color: #567482;
	background-color:  #f3f6fa;
}
</style>

<style>
.humTable      { padding:0; border-spacing:0; }
.humSubtable   { padding:0; border-spacing:0; }
.humLine:hover { background:#d0d0ff; }
.humNull       { }
.humKernToken  { }
.humParameter  { font-weight: bold; color:#990000; }
.humKernPitch  { }
.humKernRhythm { }
.humTrackpad   { padding-right:30px; }
.humSubtrackpad{ padding-right:20px; }
.humBar        { color:#555555; background-color:#eeeeee; }
.humExinterp   { color:magenta; }
.humManip      { color:#f62217; !important}
.humInterp     { color:#9f000f; !important}
.humRef        { color:#007700; }
.humGcom       { color:#1100aa; }
.humLcom       { color:#7d1b7e; }
</style>

<div class="humDiv">
<table class="humTable">
<tr valign="baseline" class="humLine humExinterp"><td class=" humTok  humSSkern humTr1 humTrackpad">**kern</td><td class=" humTok  humSSkern humTr2">**kern</td></tr>
<tr valign="baseline" class="humLine humInterp"><td class=" humTok  humSSkern humTr1 humTrackpad">*clefG2</td><td class=" humTok  humSSkern humTr2">*clefG2</td></tr>
<tr valign="baseline" class="humLine humInterp"><td class=" humTok  humSSkern humTr1 humTrackpad">*k[f#]</td><td class=" humTok  humSSkern humTr2">*k[f#]</td></tr>
<tr valign="baseline" class="humLine humInterp"><td class=" humTok  humSSkern humTr1 humTrackpad">*M4/4</td><td class=" humTok  humSSkern humTr2">*M4/4</td></tr>
<tr valign="baseline" class="humLine humBar"><td class=" humTok  humSSkern humTr1 humTrackpad">=1-</td><td class=" humTok  humSSkern humTr2">=1-</td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4c/</td><td class=" humTok  humSSkern humTr2">2aa\</td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4d/</td><td class=" humTok  humSSkern humTr2"><span class="humNull">.</span></td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4e/</td><td class=" humTok  humSSkern humTr2">2gg\</td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4f/</td><td class=" humTok  humSSkern humTr2"><span class="humNull">.</span></td></tr>
<tr valign="baseline" class="humLine humLcom"><td class=" humTok  humSSkern humTr1 humTrackpad"><span class="humParameter">!LO:TX:i:rj:t=fine</span></td><td class=" humTok  humSSkern humTr2">!</td></tr>
<tr valign="baseline" class="humLine humBar"><td class=" humTok  humSSkern humTr1 humTrackpad">=2||</td><td class=" humTok  humSSkern humTr2">=2||</td></tr>
<tr valign="baseline" class="humLine humLcom"><td class=" humTok  humSSkern humTr1 humTrackpad">!</td><td class=" humTok  humSSkern humTr2"><span class="humParameter">!LO:TX:bi:z=5:t=ritardando</span></td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4g/</td><td class=" humTok  humSSkern humTr2">2ee\</td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4a/</td><td class=" humTok  humSSkern humTr2"><span class="humNull">.</span></td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4b\</td><td class=" humTok  humSSkern humTr2">2dd\</td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4cc\</td><td class=" humTok  humSSkern humTr2"><span class="humNull">.</span></td></tr>
<tr valign="baseline" class="humLine humBar"><td class=" humTok  humSSkern humTr1 humTrackpad">=3</td><td class=" humTok  humSSkern humTr2">=3</td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4b\</td><td class=" humTok  humSSkern humTr2">2dd#\</td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4a/</td><td class=" humTok  humSSkern humTr2"><span class="humNull">.</span></td></tr>
<tr valign="baseline" class="humLine humLcom"><td class=" humTok  humSSkern humTr1 humTrackpad"><span class="humParameter">!LO:TX:b:X=-15:Z=15:t=ad&nbsp;lib.</span></td><td class=" humTok  humSSkern humTr2">!</td></tr>
<tr valign="baseline" class="humLine humLcom"><td class=" humTok  humSSkern humTr1 humTrackpad">!</td><td class=" humTok  humSSkern humTr2"><span class="humParameter">!LO:TX:Z=15:cj:t=reflectively</span></td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4g/</td><td class=" humTok  humSSkern humTr2">2ee\</td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4f/</td><td class=" humTok  humSSkern humTr2"><span class="humNull">.</span></td></tr>
<tr valign="baseline" class="humLine humBar"><td class=" humTok  humSSkern humTr1 humTrackpad">=4</td><td class=" humTok  humSSkern humTr2">=4</td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4e/</td><td class=" humTok  humSSkern humTr2">2ff\</td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">4d/</td><td class=" humTok  humSSkern humTr2"><span class="humNull">.</span></td></tr>
<tr valign="baseline" class="humLine humDat"><td class=" humTok  humSSkern humTr1 humTrackpad">2c/;</td><td class=" humTok  humSSkern humTr2">2gg\;</td></tr>
<tr valign="baseline" class="humLine humLcom"><td class=" humTok  humSSkern humTr1 humTrackpad"><span class="humParameter">!LO:TX:i:rj:X=20:t=D.C.&nbsp;al&nbsp;fine</span></td><td class=" humTok  humSSkern humTr2">!</td></tr>
<tr valign="baseline" class="humLine humBar"><td class=" humTok  humSSkern humTr1 humTrackpad">=:|!</td><td class=" humTok  humSSkern humTr2">=:|!</td></tr>
<tr valign="baseline" class="humLine humManip"><td class=" humTok  humSSkern humTr1 humTrackpad">*-</td><td class=" humTok  humSSkern humTr2">*-</td></tr>
</table>
</div>


</td><td>
<img src=/images/layout/text.png>

<h3 style="margin:0;">Text parameters:</h3>
<ul>
<li> t = text to display.
<li> rj = right justify text (boolean).
<li> cj = center justify text (boolean).
<li> b = bold text.
<li> X = horizontal offset of text.
<li> Y = placement height below bottom line of staff.
<li> Z = placement height above top line of staff.
</ul>


</td></tr></table>
</p>




