<script>
// vim: ts=3

document.addEventListener("keydown", function(event) {
	switch (event.keyCode) {
		case 49:
			var details = document.querySelector('details[class^="topic-"]');
			if (details.open) {
				closeAllTopics();
			} else {
				openAllTopics();
			}
	}
});

document.addEventListener("DOMContentLoaded", function(event) {
	checkAnchor();
});


function checkAnchor() {
	var anchor = '';
	var matches = document.location.href.match(/#(.*)/);
	if (!matches) {
		return;
	}
	anchor = matches[1];
	console.log(anchor);
	var details = document.querySelector('details.topic-' + anchor);
	if (!details) {
		return;
	}
	details.open = 'open';
	details.scrollIntoViewIfNeeded();
}



//////////////////////////////
//
// closeAllTopics --
//

function closeAllTopics() {
	var details = document.querySelectorAll("details");
	for (var i=0; i<details.length; i++) {
		var detail = details[i];
		if (!detail) {
			continue;
		}
		detail.removeAttribute('open');
	}
}



//////////////////////////////
//
// openAllTopics --
//

function openAllTopics() {
	var details = document.querySelectorAll("details");
	for (var i=0; i<details.length; i++) {
		var detail = details[i];
		if (!detail) {
			continue;
		}
		detail.open = 'open';
	}
}


</script>

<style>

details summary {
	color: #159987;
}

</style>
