<script>
// vim: ts=3

document.addEventListener('keydown', function(event) {
	switch (event.keyCode) {
		case 49:
			var topics = document.querySelector('details[class^="topic-"]');
			if (topics.open) {
				closeAllTopics();
			} else {
				openAllTopics();
			}
	}
});

document.addEventListener('DOMContentLoaded', function(event) {
	checkAnchor();
});


function checkAnchor() {
	var anchor = '';
	var matches = document.location.href.match(/#(.*)/);
	if (!matches) {
		return;
	}
	anchor = matches[1];
	console.log(anchor);
	var topics = document.querySelector('details.topic-' + anchor);
	if (!topics) {
		return;
	}
	topics.open = 'open';
	topics.scrollIntoViewIfNeeded();
}


</script>
