<script>
//
// Programmer:    Craig Stuart Sapp <craig@ccrma.stanford.edu>
// Creation Date: Sun Sep 13 08:00:12 PDT 2015
// Last Modified: Sun Sep 13 08:00:18 PDT 2015
// Filename:      _includes/snippets/snippets.html
// Syntax:        JavaScript 1.8.5/ECMAScript 5.1
// vim:           ts=3 hlsearch
//
// Description:   Examine all links on a page, an if they start 
//                with ^https?:// then make then open in a new 
//                browser tab.
//

document.addEventListener('keydown', function(event) {
	documentationKeyCommands(event, "snippet");
});

document.addEventListener('DOMContentLoaded', function(event) {
	checkAnchor("snippet");
});

document.addEventListener("DOMContentLoaded", function(event) {
	fillSummaries();
});



//////////////////////////////
//
// fillSummaries -- Move the title of the snippet from inside of the 
//      contents of the details element into the summary element.
//

function fillSummaries() {
	var details = document.querySelectorAll("details");
	for (var i=0; i<details.length; i++) {
		var summary  = details[i].querySelector("summary");
		var title    = details[i].querySelector(".title-snippet");
		if (!(summary && title)) {
			return;
		}
		summary.style.color = "#159957";
		summary.innerHTML = title.innerHTML;
		title.innerHTML = '';
	}
}


</script>



